In [61]:
from sklearn.tree import DecisionTreeClassifier
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import BaggingClassifier
from sklearn.preprocessing import LabelEncoder

In [62]:
df = pd.read_csv('retail_churn_data.csv')
df.head()

,Customer_ID,Monthly_Spend,Visits_Per_Month,Discount_Usage,Satisfaction_Score,Churn
0,CUST1000,5745.07,9,3,1.1,No
1,CUST1001,4792.60,15,3,3.4,No
2,CUST1002,5971.53,13,4,3.0,No
3,CUST1003,7284.54,1,6,1.2,Yes
4,CUST1004,4648.77,7,6,2.1,No

In [63]:
LabelEncoder = LabelEncoder()
df['Churn'] = LabelEncoder.fit_transform(df['Churn'])
df.head()

,Customer_ID,Monthly_Spend,Visits_Per_Month,Discount_Usage,Satisfaction_Score,Churn
0,CUST1000,5745.07,9,3,1.1,0
1,CUST1001,4792.60,15,3,3.4,0
2,CUST1002,5971.53,13,4,3.0,0
3,CUST1003,7284.54,1,6,1.2,1
4,CUST1004,4648.77,7,6,2.1,0

In [64]:
x = df.drop(['Customer_ID', 'Churn'], axis=1)
y = df['Churn']

In [65]:
X_train, X_test, y_train, y_test = train_test_split(
    x, y, test_size=0.2, stratify=y, random_state=42
)

In [66]:
base_tree = DecisionTreeClassifier()

In [67]:
bagging_model = BaggingClassifier(
    estimator=base_tree,
    n_estimators=100,
    bootstrap=True,
    max_samples=0.9,
    bootstrap_features=True,
    random_state=42
)

bagging_model.fit(X_train, y_train)
y_pred = bagging_model.predict(X_test)

print("Bagging Model Accuracy:", accuracy_score(y_test, y_pred))

Bagging Model Accuracy: 0.9